{{ horcrux_dir }}/go/bin/horcrux config init {{ chain_id }} "tcp://{{ mysentry }}:{{ horcrux_sentry_port }}" -c -p "tcp://{{ signer1st['host'] }}:{{ horcrux_signer_port }}|{{ signer1st['order'] }},tcp://{{ signer2nd['host'] }}:{{ horcrux_signer_port }}|{{ signer2nd['order'] }}" -l "tcp://{{ vpn_ip }}:{{ horcrux_signer_port }}" -t 2 --timeout {{ horcrux_timeout }}