/usr/bin/horcrux config init {{ chain_id }} "{% for sentry in groups.sentries %}tcp://{{ hostvars[sentry]['vpn_ip'] }}:{{ horcrux_sentry_port }}{{ "," if not loop.last else "" }}{% endfor %}" -c -p "{% for signer in groups.signers if hostvars[signer]['vpn_ip'] != hostvars[inventory_hostname]['vpn_ip'] %}tcp://{{ hostvars[signer]['vpn_ip'] }}:{{ horcrux_signer_port }}|{{ hostvars[signer]['signorder'] }}{{ "," if not loop.last else "" }}{% endfor %}" -l tcp://{{ hostvars[inventory_hostname]['vpn_ip'] }}:{{ horcrux_signer_port }} -t {{ threshold }} --timeout {{ horcrux_timeout }}